/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
.container {
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#JS {
    margin: auto;
    border: 1px solid;
    text-align: center;
    border-radius: 15px;
    font-family: 'Quantico', sans-serif;
    background-color: white;
    padding: 0 100px;
    position: relative;
    line-height: 50px;
}

#img-eye {
    right: -100px;
    height: 600px;
    position: absolute;
    top: -280px;
    transition: opacity 1.5s;
}

#img-monkey {
    right: 15px;
    top: 10px;
    position: absolute;
    height: 30px;
    transition: opacity 1.5s;
}

.opacity0 {
    opacity: 0;
}

#img-eye:active + #img-monkey {
    opacity: 1;
}

#img-eye:active {
    opacity: 0;
}
